{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">
    <div class="about-banner-image">
        <img src="/media/images/golf-image.jpg"/>
        <div class="about-us-text">
            <p>About Us</p>
        </div>
        <div class="about-us-banner">
        <h4>The #1 Online Resource for Irish Golfers</h4>

        </div>
    </div>
</div>


<div class="container" style="padding-bottom: 60px;">
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3" style="margin-top:40px;">
            <p><a class="page-links" href="https://golfites-golf-community.herokuapp.com">Homepage</a></p>
            <hr class="horizontal-row-margin">
            <p><a class="page-links" href="#">About Us</a></p>
            <hr class="horizontal-row-margin">
            <p><a class="page-links" href="#">FAQs</a></p>
            <hr class="horizontal-row-margin">
            <p><a class="page-links" href="#">Terms & Conditions</a></p>
            <hr class="horizontal-row-margin">
        </div>
        <div class="col-md-9">
        <h4 class="about-us-header">About Golfites</h4>
        <p>Our goal at Golfites is to provide Irish Golfers with an online community where they can connect with fellow golfers. Think of us as golfing social community similar to Facebook.</p>
            <p>The Golfites idea came when we realised that there wasn't an online resource for golfers and specifically Irish golfers to come together in a golf specific group to connect and learn from each other. As golfers ourselves we realise that golf can be a very individualistic sport and that connecting with and learning from other golfers is an important aspect in improving our golf games. </p>

            <p>Golfites members can avail of a number of our built-in resources which are aimed at providing the golfer with a unique online experience. We are like a one stop shop for all things golf related.<hr><strong>Below are the features available to Golfites Members:</strong></p>
            <ul>
            <li>Post Ads selling their used golf equipment and view others Ads.</li>
            <li>Search through our 'golf course finder' which maps and details every one of the over 400 Courses in Ireland.</li>
            <li>Purchase Equipment from the Golfites Shop.</li>
            <li>Access our Golf Academy to learn golfing tips and hints from Golfites experienced contributors.</li>
            <li>Read and post on the Golfites forums to discuss anything golf related.</li>
            <li>Create their own Golfites profile with info about them and their golf, including video of their swing which can be commented on by other members.</li>
            <li>Each Member can access their Member Dashboard for quick and easy access to each of the above features.</li>
                </ul>
            <hr>
            <p>All of the above is available for a monthly fee of just €4.99. For further information about Golfites feel free to contact us and we'll get back to you ASAP. </p>
            </div>
    </div>
</div>
</div>













{% endblock %}