Django
Pillow
arrow
beautifulsoup4==4.6.0
boto3
certifi==2017.11.5
chardet==3.0.4
django-bootstrap
django-debug-toolbar==1.9.1
django-disqus==0.5
django-embed-video
django-emoticons==1.2
django-forms-bootstrap==3.1.0
django-paypal==0.3.6
django-storages
django-tinymce
funcsigs==1.0.2
idna==2.6
mock==2.0.0
pbr==3.1.1
pip==9.0.1
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
setuptools
six==1.11.0
sqlparse==0.2.4
stripe
urllib3==1.26.5
wheel==0.30.0
whitenoise
gunicorn==19.4
