{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class="maincontent">
<div class="container">


    <div class="row equipment-row">
            <div class="col-md-6">
                {% if equipment.image %}
                    <img class="img-responsive equipment-image" src="/media/{{ equipment.image }}"/>
                {% else %}
                    <div class="#">No images</div>
                {% endif %}
            {% if equipmentgallery.image %}
                    <img class="img-responsive" src="/media/{{ equipmentgallery.image }}"/>
                {% else %}
                    <div class="#">No images</div>
                {% endif %}
</div>
    <div class="col-md-6">
        <span>
                <h4 class="equipment-header">{{ equipment.name }}</h4>
            <hr class="horizontal-row">
            <img class="img responsive equipment-brand" src="/media/{{ equipment.brand_logo}}" style="height:100%; width:140px;" />


            </span>
                <p class="equipment-details-desc"><strong>Description:</strong> {{ equipment.product_short_description }}</p>
                <p class="equipment-details-price">€ {{ equipment.price }}</p>
        <p class="equipment-details-condition"><strong>Condition:</strong> {{ equipment.condition }}</p>
        <p class="equipment-details-views"><strong>Views:</strong> {{ equipment.views }}</p>

                <hr class="horizontal-row">
                <div id="paypal" style="display: flex; justify-content: flex-start;cursor:pointer;">{{ equipment.paypal_form.sandbox }}</div>

                </div>
</div>
      </div>
    </div>



    {% block search %}
        {% csrf_token %}
        {% endblock %}
{% endblock %}