{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}


<div class="maincontent" style="padding-top:160px;">
<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Golfites Equipment</h2>
                <p style="text-align:center;">Shop a wide range of the newest golf clubs and accessories at the lowest prices you'll find anywhere! </p>
            </div>
        </div>
    </div>

        <!-- Content Row -->
<div class="container">
        <div class="row">


                {% for equipment in equipment %}

                        <div class="col-lg-2 col-sm-6 col-xs-12">
                        <div class="equipment-detail" style="margin-bottom:30px;">
                        <a onclick="location.href='{% url 'equipmentpage' equipment.id %}'">
                            {% if equipment.image %}
                                <img class="equipment-images img-responsive" src="/media/{{ equipment.image }}"/>
                            {% else %}
                                <div class="">No images available</div>
                            {% endif %}
                        <h2 class="equipment-title">{{ equipment.name}}</h2>

                        </a>
                        </div>
                        </div>

                {% endfor %}


        </div>

</div>

</div>
    {% block search %}
        {% csrf_token %}
        {% endblock %}
{% endblock %}