{% extends "base.html" %}
 
{% block content %}
<div class="academy-header-image">
<div class="academy-header-text">
                    <h4 class="academy-slide-header">Welcome to the Golfites Academy</h4>
                    <p class="academy-slide-header">Discover the best hints and tips from our team of dedicated intructors</p>
</div>
</div>
<div class="maincontent" style="background-color:#fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p> Golfites team of experienced instructors are here to help our members. They will post daily tips, comment on questions, analyze golf swings, and communicate directly with golfites members who have questions. Our hand-selected team of contributors are made up of mostly certified PGA professionals with vast experience and knowledge in the field of golf. If you are struggling with your swing or any aspect of your game, drop by the academy and our team will help you to get your game back in shape. Read our contributors blog posts or contact them directly via the comment's section of their articles for help or advice. </p>
<p>Want to become a Golfites instructor? Let us know <a href="{% url 'contact' %}">here.</a></p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">

            </div>
        </div>
    </div>

 {% for post in posts %}
        <div class="container">
        <div class="row">

            <div class="col-md-1" style="padding:20px 0;">

                <div class="academy-detail">
                <a class="story-img" href="#">
                    <img src="/media/{{ post.author_image}}" class="img-responsive center-block">
                </a>
                    <p>{{ post.author }}</p>
            </div>
            </div>
            <div class="col-md-7" style="padding:20px 0;">

            <a class="blog-post-link" href="{% url 'education_blog_post' post.id %}"><h4 class="blog-post-title">{{ post.title }}</h4></a>
            <p class="blog-post-info">{{ post.published_date }} | <strong>Views</strong> {{ post.views }} | <strong>Tag</strong> {{ post.tag }}</p>

                    <div class="academy-blog-post">
                        {% if post.image %}
          <img src="/media/{{ post.image}}">
      {% endif %}
    <p class="blog-post-content">{{ post.content|truncatewords:60 }}</p>
    <p><button class="site-btn" onclick="location.href ={{ post.id }}">Read More</button></p>
                    {% if user.is_staff %}
                        <button class="site-btn" onclick="location.href='{% url 'education_new_post' %}'">New Post</button>
                    {% else %}
                    {% endif %}


</div>
                    </div>

<div class="col-md-2"></div>

</div>
        </div>

{% endfor %}
</div>
{% endblock %}