{% extends "base.html" %}
{% block content %}
    <div class="maincontent" style="padding:140px 0;">
    <div class="container">
    <div class="row">
<div class="col-md-2"></div>
        <div class="col-md-8 col-sm-9 text-center">
            <div class="post-detail">
            <h4 class="blog-post-title">{{ post.title }}</h4>
            <p style="display:inline-block;"><strong> {{ post.author }}</strong></p><span style="margin:0 5px;">|</span><p style="display:inline-block;">{{ post.published_date }} | <strong>Views</strong> - {{ post.views }} | <strong>Tag - </strong> {{ post.tag }}</p>
            <div class="social-buttons">

<!-- Twitter -->
<a href="http://twitter.com/share?url=<URL>&text=<TEXT>&via=<VIA>" target="_blank" class="share-btn twitter">
    <i class="fa fa-twitter"></i>
</a>

<!-- Google Plus -->
<a href="https://plus.google.com/share?url=<BTN>" target="_blank" class="share-btn google-plus">
    <i class="fa fa-google-plus"></i>
</a>

<!-- Facebook -->
<a href="http://www.facebook.com/sharer/sharer.php?u=<URL>" target="_blank" class="share-btn facebook">
    <i class="fa fa-facebook"></i>
</a>

            <!-- Email -->
<a href="mailto:?subject=<SUBJECT&body=<BODY>" target="_blank" class="share-btn email">
    <i class="fa fa-envelope"></i>
</a>
</div>
                </div>
</div>
    <div class="col-md-2"></div>
    </div>

        <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-8">
                <div class="post-detail">
               <div class="center-block" style="background-size: cover;width:100%;margin-bottom:40px;height:300px; background: url('/media/{{ post.image }}') no-repeat center center; ">

</div>
      <p>{{ post.content|linebreaks }}</p>
      <p><button class="site-btn"
onclick="location.href='/education_center'">Back to Blog</button> </p>

                {% if user.is_authenticated %}
                        <button class="site-btn" onclick="location.href='{% url 'education_edit' post.id %}'">Edit Post</button>
                    {% else %}
                    {% endif %}
                    {% load disqus_tags %}
                    {% set_disqus_title post.title %}
                    {% disqus_show_comments %}
                </div>
                </div>
            <div class="col-md-2"></div>
            </div>

        </div>

    </div>



{% endblock %}