body, html{
            height:100%;
            margin:0;
            padding:0;
            width:100%;
        }

h4{
     font-size:20px;
    font-family:roboto;
    color:#333;
    text-align:center;
    margin:20px 0;
}

p{
    color:#333;
    font-family: roboto;
    font-size:14px;
}


/* base.html Styling*/

.navigation {
        position: absolute;
        display: flex;
        left: 0;
        right: 0;
        z-index: 500;
        height: 75px;
        perspective: 2000px;
        padding-bottom: 30px;
        background-color: rgba(81, 101, 136, 1);
        border-bottom: 1px solid #fff;
    }

    .navigation .nav {
        position: relative;
    }



    .dropdown-menu{
        margin: 0;
    }

    #drop1:hover{
        background-color:rgba(81, 101, 136, 1);
    }

    .nav .open>a, .nav .open>a:hover{
        background-color:rgba(81, 101, 136, 1);
        border-color:#fff;
    }

    .dropdown-link{
        font-family:roboto;
    }


    .navigation .nav-section.logo {
        position: absolute;
        top: 12px;
        left: 10px;
    }

    .navigation li {
        list-style: none;
    }

    .navigation .nav-section.logo .nav-link {
        padding-left: 20px;
        color: #fff;
        position: relative;
        bottom: 8px;
    }

    .navigation .nav-section.primary {
        display: flex;
        justify-content: center;
        line-height: 50px;
        position: relative;
        top: 16px;
        width:850px;
        left:170px;
    }

    .navigation .nav-section.secondary {
        display: flex;
        display: -ms-flexbox;
        position: absolute;
        top: 15px;
        right: 0;
    }


    .navigation .nav-section.secondary .divider {
        color:#fff;
        position:relative;
        top:10px;
        font-size:18px;
    }
    .navigation .nav-section.secondary span img {
        height: 18px;
        width: 18px;
        position: relative;
        left: 12px;
        bottom: 2px;
    }
    .navigation .nav-link {
        padding: 0 18px;
        text-decoration: none;
        display: inline-block;
        height: 60px;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 17px;
        line-height: 50px;
        font-weight: 500;
        margin: 0;
        color: #fff;
    }

    .navigation .nav-link:hover {

        border-bottom:3px solid #fff;
    }



    .navigation .nav-section .nav-secondary-link {
        padding: 0 18px;
        text-decoration: none;
        display: inline-block;
        height: 60px;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 17px;
        line-height: 50px;
        font-weight: 500;
        margin: 0;
        color: #fff;
    }
    .navigation .nav-section .nav-secondary-link:hover {
        background-color:rgba(81, 101, 136, 1);
        height:40px;
    }





    section.footer-top{
        padding:50px 0;
        background-color:#bbb;
    }

    section .banner-header{
        display: table;
        margin: 0 auto;
    }

    .banner-header h4{
        display:inline-block;
        margin-right:20px;
    }
    button.sign-up-btn{
        display:inline-block;
        padding:12px 18px;
        color:#fff;
        margin:20px auto;
        font-size:18px;
        background-color:rgba(81, 101, 136, 1);
        border-radius:2px;
        border:none;
    }

    footer{
        text-align: center;
        height:60px;
        background-color: #666;
        color:#fff;
    }

    footer .footer-wording{
        color:#fff;
    }


/* index.html Styling*/

.owl-carousel .item img {

	height:auto;
        }

.slider-area .slider-active.owl-carousel .item .item-caption{
    margin-left: auto;
    margin-right:auto;
    left:11%;
}

.slider-area .slider-active.owl-carousel .item .slide-header{
    margin-left:auto;
    margin-right:auto;
}

.slide-header h2{
    font-family:arial;
    font-size:26px;
    text-transform:uppercase;
    padding:10px 20px;
    color:#fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
    font-weight:700;
}

.slide-header p{
    font-family:arial;
    font-size:24px;
    padding:10px 20px;
    color:#fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
    font-weight:700;
}

.slider-area .slider-active.owl-carousel .item .item-caption .slide-header .connect{
    font-size:20px;
    font-weight:400;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);

}

.slide-header .button-slider-section{
    margin-top:20px;
}

.slide-header .button-slider-section button.slider-btn-1,.slide-header .button-slider-section button.slider-btn-2{
    padding:12px 18px;
    font-size:18px;
    background-color:rgba(81, 101, 136, 1);
    border-radius:2px;
    border:none;
}

.slide-header .button-slider-section button.slider-btn-2{
    background-color:#333;

}

section#register{
    background-color:#eee;
    padding-top:60px;
}

section .register-header{
    background-color:#eee;
}

section .register-header h4{

    text-align:center;
    font-size:30px;
}

section .register-header p{

    text-align:center;
    color:#333;
    font-size:19px;
}

section .login-register-form-section{
    background-color:#fff;
    height:400px;
}

section .login-register-form-section .col-centered{
    float:none;
    margin:0 auto;
}

.slider-btn-1{

    padding:8px 16px;
    font-size:18px;
    background-color:rgba(81, 101, 136, 1);
    border-radius:2px;
    border:none;
    color:#fff;
}

.register-link{
    text-align:center;
}

section#features{
    background-color:#eee;
    padding:60px 0;
}

section img{
    height:200px;
    width:320px;
}

section .features_paragraph{
    margin-top:10px;


}

section .wrapper{
    display:flex;
    justify-content:center;
}
.col-background{
    background-color:#fff;
    width:30%;

}

.white-background{
    background-color:#fff;
    margin-top:60px;
}

.ad-item{
    display:inline-block;
}

.ad-item span.text-center{
    display:inline-block;
    margin-top:10px;
}

.ad-item .ad-image{
    height:90px;
    width:120px;
}

.academy-slider .slider-active .item .item-caption, .slider-active .item .item-caption{
            position: absolute;
            top:34%;
	        left:10%;
            margin-left:auto;
            margin-right:auto;
            text-align:center;
            color: #fff;
            font-size: 36px;
            font-weight: bold;
        }

.academy-slider .slider-active .item .item-caption{

	        left:18%;

        }




/* Courses Page Styles*/

#search-results{
    background-color: #eee;
    padding: 10px;
    border-radius: 3px;
    font-size: 13px;
    list-style:none;
}

#search{
    font-size:20px;
    border:2px solid #fff;
    border-radius:3px;
    height:40px;
    width: 300px;
    color:#516588;
    background: #fcfcfc;
}

.banner-image img{
    background-size:cover;
    width:100%;
    height:100%;
}

.banner-image .search-position{
    position:absolute;
    top:30%;
    left:39%;
}

.banner-image h4{
    font-size:26px;
    color:#fff;
    padding:10px;
    background-color:rgba(0,0,0,0.6);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
}

.courses-header h4{
   font-size:30px;
    text-align:left;
}

.center-block{
    padding-right:0;
}

.courses-content{
    height:710px;
    overflow:auto;
    border:1px solid;
}

.courses-content .courses-alignment{
    border-bottom:1px solid #eee;
    width: 100%;
    display:inline-block;
}

.courses-content .courses-alignment a{
    cursor:pointer;
    text-decoration:none;
}

.courses-content .courses-alignment img{
    display:inline-block;
    width:60px;
    height: 60px;
    margin:20px;
}

.courses-content .courses-alignment p {
    display:inline-block;
}

iframe{
   border:1px solid;
}

.course-page-col{
    margin-top:20px;
}

/* Ads Page Styling*/
.ad-details .ad-link{
    cursor:pointer;
    text-decoration:none;
}

.ad-details img{
    width:350px;
    height: 266px;
    margin:30px auto 0 auto;
}
/* Single Ad Page Styling*/
.ad-page-col{
    margin-top:20px;
}

.ad-page-col-2{
    background-color: #fff;
    padding:20px 40px;
}

/* Academy Posts Page Styling */

.academy-detail .story-img img{
    width:70px;
    height: 70px;
    background-color: #12ABB2;
    color: #ffffff;
}

.academy-detail p{
    margin-top:5px;
}

.academy-blog-post{
    background-size:cover;
    height:300px;
    margin-bottom:10px;
}


/* Equipment Page Styling */
.equipment-detail .equipment-title{
    text-align:center;
}

.equipment-detail a{
    cursor:pointer;
    text-decoration:none;
}

.equipment-detail img{
    width:250px;
    height: 250px;
    margin:30px auto 0 auto;
}
.portfolio-item .logo-image .overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(31, 31, 31, 0.82);
    padding: 10px;
    color: #fff;

}

.portfolio-item .logo-image {
    position: relative;
}

.img-responsive {
    width: 100%;
}

 .portfolio-item .logo-image .overlay:hover {
    opacity: 1;
}

.overlay-btn .view-site-btn {
    background-color: #516588;
    color: #fff;
    padding: 5px 8px;
    font-size: 14px;
    position: absolute;
    font-family:roboto;
    top: 55%;
    left: 24%;
    text-decoration: none;
    border-radius: 4px;
    border:none;
}

.overlay-btn .view-site-btn:hover {
    background-color: #fff;
    color: #516588;
}

.portfolio-item{
    border: 1px solid #516588;
}

.logo-image{
    border-bottom: 1px solid #516588;
}




.maincontent{
    border-top:4px solid #6c8835;
    margin-top:20px;
    padding:20px;
}

/*Breadcrumbs*/

.breadcrumb{

    background-color:#fff;
    text-align:center;
    margin-top: 40px;
}

.breadcrumb-item{
    font-family:raleway;
}

/* Golfers Page*/


.golfer-page-column{
    padding:20px;
}

.golfer-page-column-2{
    background-color:#fff;padding:50px;
}

.golfer-details a{
    cursor:pointer;
    text-decoration:none;
}

.golfer-details img{
width:200px;
    height: 200px;
}

.golfer-details .golfer-title{
    text-align:left;
}

.golfer-image{
    margin:30px auto;
    height:400px;
    width:500px;
}

/* Login Page Styling */

.maincontent.login-page{
    background:#eee;
    padding:80px;
}

.breadcrumb.login-page{
    background-color:#eee;
}

.login-page-column{
    background-color:#fff;
    padding:30px 60px;
}

.login-details h4{
    font-size:30px;
}

.login-details p{
    text-align:center;
}

/* Registration-Page */

.maincontent.register-page{
    background-color:#eee;
}

.breadcrumb.register-page{
    background-color:#eee;
}

.register-page-column{
    background:#fff;
    padding:30px 60px;
}

.register-details h4{
    font-size:30px;
}
.register-details p{
    text-align:center;
}






.login-form{
    margin-top:60px;
}







