{% extends "base.html" %}
{% block content %}
    <div class="container" style="position:relative;top:100px;height:420px;">
    <ol class="breadcrumb login-page">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Paypal-Return</li>
        </ol>

    <h1 style="margin-top:60px; color:#333;">Thanks for purchasing our item :)</h1>
    <a href="https://golfites-golf-community.heroukapp.com">Return to homepage.</a>
    </div>

{% endblock %}