{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% load embed_video_tags %}
{% block content %}
<div class="maincontent">
    <div class="container">
        <div class="row">
            <!-- Golfer Image -->
            <div class="col-md-6" style="background-color:#fff;padding:20px;">
                <div class="golfer-img">
                    {% if golfer.image %}
                    <img class="img-responsive" src="/media/{{ golfer.image }}" /> {% else %}
                    <div class="#">No images</div>
                    {% endif %}
                </div>
            </div>
            <!-- Golfer Description -->
            <div class="col-md-6" style="background-color:#fff;padding :20px;">
                <h2 class="golfer-header">{{ golfer.name }}</h2>
            <hr>
                <p><strong>Club:</strong> {{ golfer.golf_club }}</p>
                <p><strong>Current Handicap:</strong> {{ golfer.current_handicap }}</p>
                <p><strong>Lowest Handicap:</strong> {{ golfer.lowest_handicap }}</p>
                <p><strong>Greatest Golfing Achievement:</strong> {{ golfer.biggest_golfing_achievement }}</p>
                <p><strong>About My Golf:</strong> {{ golfer.about_my_golf }}</p>
                <p><strong>What's in the bag?</strong> {{ golfer.whats_in_your_bag }}</p>
                <hr>
            <!-- Video Embed -->
                <p><strong>My Golf Swing:</strong>
                    <br>{% video golfer.swing as my_video %} {% video my_video '500x410' %} {% endvideo %}</p>
            </div>

        </div>
    <!-- Disqus Comments -->
        <div class="row">
            <div class="col-md-12">
                {% load disqus_tags %}
                {% set_disqus_title post.title %}
                {% disqus_show_comments %}
            </div>
        </div>
    </div>

</div>

{% block search %}
    {% csrf_token %}
{% endblock %}
{% endblock %}