{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% load embed_video_tags %}
{% block content %}
    
<div class="container">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">Browse Products</li>
        </ol>

<div class="container">
        <div class="row">
            <div class="col-xs-12 catalogue-header">
                <h1>Golfers</h1>
            </div>
        </div>
    </div>

        <!-- Content Row -->
<div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                {% for golfer in golfers %}

                        <div class="col-lg-3 col-sm-6 col-xs-12">

                        <a style="cursor:pointer; text-decoration:none;" onclick="location.href='{% url 'golfer_page' golfer.id %}'">
                        {% if golfer.image %}
                                <img class="img-responsive img-circle" src="/media/{{ golfer.image }}" style="width:200px; height: 200px; margin:30px auto 0 auto;"/>
                            {% else %}
                                <div class="">No images available</div>
                            {% endif %}
                        <h2 class="product-title"><strong>Name: </strong> {{ golfer.name}}</h2>
                            <div class="product-details">

                                <p><strong>Handicap:</strong> {{ golfer.current_handicap }}</p>
                                <p><strong>Golf Club:</strong> {{ golfer.golf_club }}</p>
                                <p><strong>What's in your bag?:</strong> {{ golfer.whats_in_your_bag }}</p>



                            </div>
                        </a>
                        </div>

                {% endfor %}

            </div>
        </div>
        <!-- End of Content -->
</div>
</div>

    {% block search %}
        {% csrf_token %}
        {% endblock %}
{% endblock %}