{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<div class="maincontent" style="background:#fff; padding-bottom:60px;">
<div class="container">

<div class="row">
    <div class="ads-header">
        <h4>Golf Ads</h4>
    </div>
</div>
{% for ad in ads %}
        <div class="row">




                        <div class="col-lg-12 col-sm-12 col-xs-12 ad-column">
                        <div class="ad-details">
                        <div class="col-md-4">
                        <a class="ad-link" onclick="location.href='{% url 'ads_page' ad.id %}'">
                            {% if ad.image %}
                                <img class="img-responsive" src="/media/{{ ad.image }}" style="background-size:cover;"/>
                            {% else %}
                                <div class="">No images available</div>
                            {% endif %}
                        </a>
                      </div>
                        </div>
                        <div class="col-md-8">
                        <h4 class="ad-title">{{ ad.name }}</h4>


<span><p><strong>Location:</strong> {{ ad.location }}</p>
                                <p><strong>Condition:</strong> {{ ad.condition }}</p>
<p><strong>Date Published:</strong> {{ ad.published_date }}</p></span>
                            <p><strong>Ad Views:</strong> {{ ad.views }}</p>

<p style="font-size:20px;font-weight:700;">€ {{ ad.price }}</p>
<button class="site-btn" onclick="location.href='{% url 'ads_page' ad.id %}'">View Ad</button>

                        </div>
                        </div>
                        </div>

                {% endfor %}



        <!-- End of Content -->
</div>

</div>
    {% block search %}
        {% csrf_token %}
        {% endblock %}
{% endblock %}