{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="maincontent">
    <div class="container">

        <div class="row">
        <!-- Ad Image -->
            <div class="col-md-6 ad-page-col">
                {% if ad.item_image %}
                <img class="img-responsive product-image" src="{{ MEDIA_URL }}{{ ad.item_image }}" /> {% else %}
                <div class="#">No images</div>
                {% endif %}
            </div>

        <!-- Ad Description -->
            <div class="col-md-6 ad-page-col-2">

                <h2 style="font-size:30px;">{{ ad.item_name }}</h2>
                <hr>
                <p><strong>Description:</strong> {{ ad.product_short_description }}</p>
                <p><strong>Seller Name:</strong> {{ ad.your_name }}</p>
                <p><strong>Seller Email:</strong> {{ ad.contact_email }}</p>
                <p style="font-size:20px; font-weight:600;">€ {{ ad.item_price }}</p>
                <p><strong>Published Date:</strong> {{ ad.published_date }}</p>
                <p><strong>Views:</strong> {{ ad.views }}</p>
                <p><strong>Location:</strong> {{ ad.your_location }}</p>


                <!-- Ad Comments -->
                <p><strong>Message seller about this ad:</strong></p>
                {% load disqus_tags %}
                {% set_disqus_title post.title %}
                {% disqus_show_comments %}

                <hr>

            </div>
        </div>
    </div>

</div>

{% block search %} {% csrf_token %} {% endblock %} {% endblock %}