{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class="maincontent" style="background-color:#fff;">
    <div class="container">
<h3>Create a New Ad</h3>
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-lg-8" style="background-color:#fff; padding:30px;">
                <!-- Create Ad Form -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <button type="submit" class="site-btn">Create Ad</button>
                </form>
                <!-- End Form -->
            </div>
            <div class="col-md-2"></div>
        </div>
        <!-- End of Content -->
    </div>
    </div>
    {% block search %}
        {% csrf_token %}
        {% endblock %}
{% endblock %}