{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="maincontent">

    <div class="container">
    <h3 style="margin:63px;">
        Thanks for Contacting us. We will be in touch with you shortly!
        <br>
    </h3>
        <button type="button" onclick="location.href='{% url 'index' %}'" style="padding-right:16px;" class="site-btn center-block">Return to Homepage</button>

    </div>
</div>
    {% block search %}
        {% csrf_token %}
        {% endblock %}
{% endblock %}