{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Golfites</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="/media/images/favicon.ico?" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link href="{% static "css/aos.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome-4.7.0/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    {% block head_js %}{% endblock head_js %}
</head>

<body>
    <div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="/media/images/Golfites%20Logo.png" height="55" width="190"/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse navbar-toggleable-md">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="https://golfites-golf-community.herokuapp.com" class="">Home</a></li>
                        <li class=" dropdown">
                            <a href="{% url 'all_golfers' %}">Golfers</a>
                        </li>
                        <li><a href="{% url 'courses' %}">Golf Courses</a></li>
                        <li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Market <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'equipment' %}">Equipment</a></li>
                                <li><a href="{% url 'ads' %}">Adverts</a></li>
                            </ul>
                        </li>
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Social <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'education_blog' %}">Academy</a></li>
                                <li><a href="{% url 'forum' %}">Forum</a></li>
                            </ul>
                        </li>
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        {% if user.is_authenticated %}
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as  <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'change_password' %}">Change Password</a></li>
                                <li><a href="{% url 'profile' %}">My Profile</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}



                            <li><a class="divider-border" href="{% url 'login' %}"><i class="fa fa-sign-in" style="margin-right:8px;font-size:15px;" aria-hidden="true"></i>Login<span id="divider"> | </span></a></li>
                            <li><a href="{% url 'register' %}">Sign Up</a></li>


                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 " style="width:100%;">
                    <div class="banner-header">
                        <h4>Join our community to get the most from your golf.</h4>
                        <button type="button" class="sign-up-btn" onclick="location.href='{% url 'register' %}'">Sign Up Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="footer-wording">&copy; Copyright 2017 by Ed Stack for Code Institute Project</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>