{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}
<div class="slider-area">
    <div class="slider-active owl-carousel">
        <div class="item">
            <img src="/media/images/Golfites_Homepage_Hero_image.png" />
            <div class="item-caption">
                <div class="slide-header">
                    <h2>The online community for Irish golfers with a passion for the game</h2>
                    <div class="connect"> <span>Connect</span> <span class="tagline-divider">|</span> <span>Learn</span> <span class="tagline-divider">|</span> <span>Play</span></div>
                    <div class="button-slider-section">
                        <button type="button" onclick="location.href='{% url 'login' %}'" class="slider-btn-1 animated slideInUp">Get Started</button>
                        <button type="button" onclick="location.href='{% url 'about' %}'" class="slider-btn-2 animated slideInDown">About Golfites</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="register-header">
                    <h4>Join the Golfites community</h4>
                    <p>Join our community and gain access to Golfites array of built-in features. Connect, Learn and Play with other members.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container login-register-form-section">
        <div class="row">
            <div class="col-lg-4 col-centered" data-aos="fade-up" data-aos-once="false">
                <form role="form" method="post" class="login-form" action="{% url 'login' %}">
                    {% csrf_token %} {{ form| as_bootstrap }}
                    <div class="form-group">
                        <button type="submit" class="site-btn">Login</button>
                        <div class="register-link">
                    <p>Not a registered member? <a href="{% url 'register' %}">Sign up</a></p>
                </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-features">
                <h4>Forum</h4>
                <img src="/media/images/bigstock-modern-golf-man-with-smart-pho-65229274.jpg" class="img-responsive"/>
                <p class="features_paragraph">Join Ireland's one and only golf specific forum to discuss and debate all things golf with fellow Golfites members. Golfers usually have a lot to say so get it off your chest here! </p>
                <div class="wrapper">
                    <button type="button" onclick="location.href='{% url 'forum' %}'" style="margin:20px 0;" class="site-btn">Join our Forum</button>
                </div>
            </div>
            <div class="col-md-4 col-features">
                <h4>Academy</h4>
                <img src="/media/images/Academy-1-2016.jpg" class="img-responsive"/>
                <p class="features_paragraph">Do you have a thirst for golfing knowledge? Join our Academy and take your game to the next level by learning from our experienced group of academy contributors. </p>
                <div class="wrapper">
                    <button type="button" onclick="location.href='{% url 'education_blog' %}'" style="margin:20px 0;" class="site-btn">Visit the Academy</button>
                </div>
            </div>
            <div class="col-md-4 col-features">
                <h4>Irish Golf Courses</h4>
                <img src="/media/images/89252.jpg" class="img-responsive" />
                <p class="features_paragraph">Search and discover Irish golf courses near you using Golfites' course finder map and directory. The number one and only place to map over 400 of our great golf courses.</p>
                <div class="wrapper" style="display:flex;justify-content:center;">
                    <button type="button" onclick="location.href='{% url 'courses' %}'" style="margin:20px 0;" class="site-btn">Search golf courses</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row white-background">
            <div class="col-md-4 col-features">
                <h4 class="homepage-options">Equipment</h4>
                <img src="/media/images/equipment.jpg" class="img-responsive"/>
                <p class="features_paragraph">On the look out for a new driver, irons or putter? Click through below to check out Golfites wide range of golf equipment. We might have just what you are looking for!</p>
                <div class="wrapper">
                <button type="button" onclick="location.href='{% url 'equipment' %}'" class="site-btn">View Equipment</button>
                    </div>
            </div>
            <div class="col-md-4 col-features" style="padding:0 20px;">
                <h4 class="homepage-options">Latest Ads</h4>
                {% for ad in latest_ads %}
                <div class="ad-item">
                    <h4>{{ ad.name  }}</h4>
                    <span class="text-center">
                    {% if ad.image %}
                    <img src="/media/{{ ad.image }}" class="ad-image img-responsive" /> {% else %}
                <div class="">No images available</div>
                    {% endif %}

                    </span>
                    <span style="display:inline-block;">
    <p><strong>Price:</strong> € {{ ad.price }}</p>
<p><strong>Location:</strong> {{ ad.location }}</p>
    <button type="button" onclick="location.href='{% url 'ads_page' ad.id %}'" style="padding:6px 10px;color:#fff;margin:5px auto;font-size:14px; background-color:rgba(81, 101, 136, 1);border-radius:2px; border:none;font-family:roboto;">View Ad</button>
</span>
                </div>
                <hr> {% endfor %}
            </div>
            <div class="col-md-4 col-features">
                <h4 class="homepage-options">Ads Board</h4>
                <p>Do you have golf clubs and/or accessories you'd like to sell? Post an ad on Golfites and give your items the best chance to find a new home. </p>
                <div class="wrapper">
                <button type="button" onclick="location.href='{% url 'new_ad' %}'" style="margin:10px;" class="site-btn">Post an Ad</button>
                <button type="button" onclick="location.href='{% url 'ads' %}'" style="margin:10px;" class="site-btn">Search Ads</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    AOS.init();
  </script>

{% block search %} {% csrf_token %} {% endblock %} {% endblock %}