{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="maincontent" style="padding-top:140px;">
    <div class="container">

        <div class="col-xs-3"></div>
        <div class="col-md-6 login-page-column">
            <div class="login-details">
            <h4>Login to your Golfites Account</h4>
            <p>Not yet a Golfites member? Visit our registrations page to <a href="https://golfites-golf-community.herokuapp.com/accounts/register">Sign Up.</a></p>
                </div>
    <form role="form" method="post" action="{% url 'login' %}">

        {% csrf_token %}
        {{ form| as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="site-btn">Login</button>
        </div>
    </form>
            </div>
        <div class="col-xs-3"></div>
    </div>
    </div>
{% endblock %}