{% extends "base.html" %} {% load staticfiles %} {% block content %}
<div class="maincontent">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h2>Member Dashboard</h2>
                <p style="text-align:center;padding-bottom: 40px;">Welcome, {{ user.username }}! Use this dashboard to manage your account and navigate through Golfites features with ease.</p>
            </div>
        </div>


            <div class="row profile-page-row">
            <h3>My Details</h3>
                <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-md-4">
                        <div class="member-info">
                            <h4 class="info-header">Account Info</h4>
                            <p><strong>Username: </strong>{{ user.username }}</p>
                            <p><strong>Email address: </strong>{{ user.email }}</p>

                            <button class="site-btn" onclick="location.href='{% url 'change_password' %}'">Change Password</button>
                        </div>
                        </div>
                    <div class="col-md-4">
                         <div class="member-info">
                            <h4 class="my-profile-header">My Profile</h4>

                            {% for golferprofile in golfers %}
                            {% if user.id == golferprofile.golfer_id %}
                                {% if golferprofile.your_image %}
                            <img class="img-responsive" src="/media/{{ golferprofile.your_image }}" style="width:50px; height: 50px;margin:0 auto;" />
                                {% else %}
                            <div class="">No images available</div>
                            {% endif %}
                            <p><strong>Golfer Name: </strong>{{ golferprofile.your_name }}</p>
                            <button class="site-btn" onclick="location.href='{% url 'editgolfer' golferprofile.id %}'">Edit Profile
                            </button>
                             {% endif %} {% endfor %}
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="member-info">
                            <h4 class="subscriptions-header">Subscription Details</h4>
                            <p>You have {{ user.subscription_end|timeuntil}} left on your subscription</p>
                            <p>To cancel your subscription click 'Cancel Subscription' below</p>
                            <p>
                                <a href="{% url "cancel_subscription" %}" onclick="return cancelSubscriptionCheck();" class="site-btn">Cancel Subscription</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


    <div class="row profile-page-row" id="row-margin">
    <h3>My Ads</h3>


                             {% for ad in ads %}
                                 {% if user.id == ad.advertiser_id %}
                             <div class="col-md-3">
                             <div class="my-ad-details">

                                     {% if ad.item_image %}
                            <img class="img-responsive" src="/media/{{ ad.item_image }}" style="width:50px; height: 50px; margin-left: auto;margin-right: auto;" />
                                     {% else %}
                            <div class="">No images available</div>
                            {% endif %}
                            <p class="browseads"><strong>Ad title: </strong>{{ ad.item }}</p>
                            <p class="browseads"><strong>Ad price: </strong>&euro;{{ ad.item_price }}</p>
                            <button class="site-btn" style="margin-bottom:30px;" onclick="location.href='{% url 'edit_ad' ad.id %}'">Edit ad
                            </button>

                             </div>
                            </div>
                                 {% endif %}
                             {% endfor %}


    </div>


<div class="row" id="features-row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 style="margin:60px 0;">Features</h3>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <div class="logo-image">
                                <img src="/media/images/profile.png" alt="golfites ads" class="img-responsive">
                                <div class="overlay">
                                    <div class="overlay-btn">
                                        <button class="view-site-btn center-block" onclick="location.href='{% url 'all_golfers' %}'">Browse Profiles</button>
                                        <button class="view-site-btn center-block" onclick="location.href='{% url 'new' %}'">Create your Profile</button>
                                    </div>
                                </div>
                            </div>
                            <h4>Golfer Profiles</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <div class="logo-image">
                                <img src="/media/images/GolfAcademySlider2.jpg" alt="golfites ads" class="img-responsive">
                                <div class="overlay">
                                    <div class="overlay-btn">
                                        <button class="view-site-btn center-block" onclick="location.href='{% url 'education_blog' %}'">Visit Academy</button>
                                    </div>
                                </div>
                            </div>
                            <h4>Academy</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <div class="logo-image">
                                <img src="/media/images/golfitescoursefinder.jpg" alt="golfites ads" class="img-responsive">
                                <div class="overlay">
                                    <div class="overlay-btn">
                                        <button class="view-site-btn center-block" onclick="location.href='{% url 'courses' %}'">Visit Course Finder</button>
                                    </div>
                                </div>
                            </div>
                            <h4>Course Finder</h4>
                        </div>
                    </div>
                </div>
    </div>


    <div class="row">
                <div class="col-lg-12 col-md-12" style="margin-top:40px;">
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <div class="logo-image">
                                <img src="/media/images/The-Players-2015-_I2C5423.jpg" alt="golfites ads" class="img-responsive">
                                <div class="overlay">
                                    <div class="overlay-btn">
                                        <button class="view-site-btn center-block" onclick="location.href='{% url 'forum' %}'">Visit our Forum</button>
                                    </div>
                                </div>
                            </div>
                            <h4>Forum</h4>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="portfolio-item">
                            <div class="logo-image">
                                <img src="/media/images/used-golf.jpg" alt="golfites equipment" class="img-responsive">
                                <div class="overlay">
                                    <div class="overlay-btn">
                                        <button class="view-site-btn center-block" onclick="location.href='{% url 'equipment' %}'">View Equipment</button>
                                    </div>
                                </div>
                            </div>
                            <h4>Equipment</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <div class="logo-image">
                                <img src="/media/images/ilustrasi-olahraga-golf.jpg" alt="golfites ads" class="img-responsive">
                                <div class="overlay">
                                    <div class="overlay-btn">
                                        <button class="view-site-btn center-block" onclick="location.href='{% url 'new_ad' %}'">Post an Ad</button>
                                        <button class="view-site-btn center-block" onclick="location.href='{% url 'ads' %}'">View Ads</button>
                                    </div>
                                </div>
                            </div>
                            <h4>Ads</h4>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>




<script type="text/javascript">
function cancelSubscriptionCheck() {
    if (confirm('Are you sure you want to cancel?')) {
        return true;
    }
    return false;
}
</script>
{% block search %}
    {% csrf_token %}
{% endblock %}
{% endblock %}