{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="maincontent">
    <div class="container">

    <!-- Breadcrumbs -->

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">My Profile</li>
        </ol>

    <div class="row">
        <div class="col-xs-12">
            <h2 class="seller-dashboard-header">Golfer Dashboard</h2>
        </div>
    </div>
    <div class="row">
    <div class="col-xs-12">
        <hr>
        <p class="welcome-message">Welcome, {{ user.username }}! Thanks for logging in.</p>
        <hr>
    </div>
    </div>
        <div class="container">
          <div class="row">



            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="seller-info">
                    <h2 class="seller-details-header">My Details:</h2>
                <a class="profile-img" href="#">


                </a>
                    <p class="seller-info"><strong>Username: </strong>{{ user.username }}</p>
                    <p class="seller-info"><strong>Email address: </strong>{{ user.email }}</p>
                    </div>

                <div class="seller-actions">
                    <div class="add-new-product">
                        <button class="add-new-btn" onclick="location.href='{% url 'new' %}'">Create your Golfer Profile</button>
                       <!-- <button class="edit-btn" onclick="location.href=">Edit your Golfer Profile</button> -->

                    </div>

                </div>


            </div>


    </div>
</div>
    </div>
</div>
    {% block search %}
        {% csrf_token %}
        {% endblock %}
{% endblock %}