{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="maincontent" style="padding-top:140px;">
    <div class="container">

<div class="col-xs-3"></div>
        <div class="col-md-6 register-page-column">
            <div class="register-details">
            <h4 style="text-align:center;">Create Your Golfites Account</h4>
            <p>Join Golfites today for €4.99/month. Already have an account? <a href="https://golfites-golf-community.herokuapp.com/accounts/login">Login here</a></p>
                </div>
  <form role="form" method="post" id="register-form" enctype="multipart/form-data" action="{% url 'register' %}">
    <div id="credit-card-errors" style="display:none">
      <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>


    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-group">
      <input class="site-btn" id="validate_card_btn" name="commit" type="submit" value="Become a Golfites Member">
    </div>
  </form>
            </div>
        <div class="col-xs-3"></div>
     </div>
    </div>
    {% block search %}
        {% csrf_token %}
        {% endblock %}
{% endblock %}