{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}

    <div class="container" style="margin-top:75px;padding-bottom:60px;">

    <div class="row">
        <div class="col-md-12">
<h2 style="text-align:center;">Irish Golf Course Directory</h2>
        </div>


</div>
        <div class="row">
        <div class="col-md-12 center-block">
           <iframe class="center-block" src="https://www.google.com/maps/d/embed?mid=1jryEkPkBy4bZIwlNax_SL7MsS-8bk8Gu" width="1000" height="920"></iframe>
        </div>
    </div>

    <div class="search-icon"><a href="#" data-mini="false" data-theme="e" data-role="button" class="opensearch" data-icon="search"><i class="fa fa-search"></i>Search Courses</a></div>
                        <div class="search_field" style="display:none;">
        <input type="text" id="search" name="search" data-theme="e" placeholder="search courses..."/>
        <div id="search-results"></div>

</div>
</div>


{% block search %}
        {% csrf_token %}
{% endblock %}
{% endblock %}