{% extends "base.html" %}
{% load thread_extras %}
{% block content %}
    <div class="content" style="padding:120px 0;background-color:#fafafa;">

<div class="container" style="">
 <div class="row">

   <div class="col-md-12"><h4 style="font-size:30px; text-align:left;margin-bottom:5px;">{{ subject.name }}</h4>
   <p style="color:#333;">
                   {% autoescape off %}{{ subject.description }}{% endautoescape %}
               </p>
 {% if user.is_authenticated %}

       <a href="{% url 'new_thread' subject.id %}" class="site-btn" style="margin:20px 0;display:inline-block;">New Thread</a>

   {% endif %}
   </div>
 </div>
 </div>

    <div class="container" style="background-color: #fff; border: 1px solid #eee;">
    <div class="row">
 <div class="col-md-12" style="padding: 0;">


   {% for thread in subject.threads.all %}
     {% include "forum/thread_item.html" %}
   {% endfor %}

 </div>
</div>
    </div>
</div>

{% endblock %}