{% extends "base.html" %}
{% load thread_extras %}
{% load staticfiles %}
{% block content %}
<div class="content" style="padding-top:130px;background-color: #fcfcfc;">

<div class="container">
 <div class="row header">

   <div class="container">


     <h4 class="thread-post-title">{{ thread.name }}</h4>

     <div class="col-md-12">
         <table class="table">
             <tbody>
             <tr>
                 <th>
                   CREATED
                 </th>
                 <th>OWNER</th>
                 <th>LAST POST</th>
             </tr>
             <tr>
                 <td>
                   <time datetime="{{ thread.created_at }}">
                    {{ thread.created_at|started_time }}
                   </time>
                 </td>
                 <td>{{ thread.user.username }}</td>
                 <td>{% last_posted_user_name thread %}</td>
             </tr>
           </tbody>
         </table>
     </div>
     {% if user.is_authenticated %}
       <p>
         <a href="{% url 'new_post' thread.id %}" class="site-btn">New post</a>
       </p>
     {% endif %}
   </div>
 </div>

<div class="container">
   {% for post in thread.posts.all %}
     {% include "forum/post.html" %}
   {% endfor %}
</div>
</div>
</div>
{% endblock %}